.SearchInputContainer { 
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    'backward form'
    '. searchResults';
  row-gap: 10px;
}

.SearchInputContainer form {
  grid-area: form;
  background-color: var(--whiteBackgroundColor);
  padding: 10px 10px 10px 0;
}

.SearchInputContainer form .searchInput {
  width: 100%;
  position: relative;
}

.SearchInputContainer form .searchInput input {
  width: 100%;
  background-color: var(--lightGrayBackgroundColor);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.SearchInputContainer form input:focus {
  outline: none;
}

.SearchInputContainer form .searchInput .deleteSymbol {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}


.SearchInputContainer .backward {
  grid-area: backward;
  background-color: var(--whiteBackgroundColor);
  padding: 10px 0px 10px 10px;
}

.SearchInputContainer .searchResults {
  grid-area: searchResults;
  background-color: transparent;
  max-height: calc(var(--screenHeight) / 2);
  overflow: scroll;
  border-radius: 10px;
}
