.SearchInputContainer { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.SearchInputContainer form {
  width: 80%;
}

.SearchInputContainer form .searchInput {
  width: 100%;
  position: relative;
}

.SearchInputContainer form .searchInput input {
  width: 100%;
  background-color: var(--lightGrayBackgroundColor);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.SearchInputContainer form input:focus {
  outline: none;
}

.SearchInputContainer form .searchInput .deleteSymbole {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.5);
  transition: .3s;
}

.SearchInputContainer form .searchInput .deleteSymbole:active {
  background-color: rgb(0, 0, 0, 0.8);
}

/* X symbole */
.SearchInputContainer form .searchInput .deleteSymbole::before {
  content: "x";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: var(--lightGrayBackgroundColor);
}
