.CategoriesContainer {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 50px;
  justify-content: center;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 10px;
  background-color: var(--lightGray);
  width: calc(var(--screenWidth) / 2);
  height: calc(var(--screenHeight) / 2);
  overflow: auto;
  padding: 10px 5px;
}

