:root {
  --backgroundColor: #f6f7f8;
}

.SearchBar { 
  width: 100%;
  display: flex;
  justify-content: center;
}

.SearchBar form {
  width: 80%;
}

.SearchBar form .searchInput {
  width: 100%;
  position: relative;
}

.SearchBar form .searchInput input {
  width: 100%;
  background-color: var(--backgroundColor);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.SearchBar form input:focus {
  outline: none;
}

.SearchBar form .searchInput .deleteSymbole {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 98%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.5);
}

.SearchBar form .searchInput .deleteSymbole:active {
  background-color: rgb(0, 0, 0, 0.8);
}

/* X symbole */
.SearchBar form .searchInput .deleteSymbole::before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--backgroundColor);
}
