.SearchPageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-template-areas: 
    'SearchInputContainer'
    'QuickSearchResultsContainer';
}

.searchInput {
  grid-area: SearchInputContainer;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--whiteBackgroundColor);
}

.QuickSearchResultsContainer {
  grid-area: QuickSearchResultsContainer;
}