.PostBottomContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
}
.PostBottomContainer > * {
  margin-right: 15px;
}

.PostBottomContainer .votes {
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.PostBottomContainer .votes > * {
  margin-right: 6px;
}

.PostBottomContainer .votes .score {
  transition: 0.2s;
}

.PostBottomContainer .comments {
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.PostBottomContainer .comments > * {
  margin-right: 4px;
}