* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.QuickSearchResultsContainer {
  width: 100%;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  background-color: var(--lightGrayBackgroundColor);
}

.post {
  min-width: 100%;
}
