.QuickSearchResultsContainer {
  width: 100%;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  background-color: var(--whiteBackgroundColor);
  padding-bottom: 40px;
}

.QuickSearchResultsContainer h2 {
  justify-self: start;
}

.post {
  min-width: 100%;
}
